@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Great+Vibes&family=Lobster&family=M+PLUS+Rounded+1c&family=Macondo&family=Satisfy&family=Twinkle+Star&display=swap');
:root{
    --mainColor:#FA4516;
    --secondColor:#F8E3A2;
}

div.wrapper{
    display: flex; 
    width: 100%;  
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    background-color: rgb(255, 255, 255);
    margin-left: 3.5rem;
    padding:0rem;
    
}
#sidebar{
    padding: 0rem;
    width:3.5rem;
    min-width: 3.5rem;
    transition: all 0.25s ease-in-out;
    background-color:var(--secondColor);
    display: flex;
    flex-direction: column;
    position: fixed; /* Fixes the sidebar */
    top: 0;          /* Sticks to the top of the page */
    left: 0;         /* Sticks to the left side of the page */
    height: 100vh;   /* Full viewport height */
    z-index: 1000; 
    margin-right: 1rem;
}
.logo{
    margin-top: 0;
    margin-left: 0;
    width: 30px;
    height: 30px;
}
#sidebar.expand{
    width: 170px;
    min-width: 170px;
}

#sidebar:not(.expand).sidebar-logo,
#sidebar:not(.expand) span{
    display: none;
}

#sidebar.expand a.sidebar-link span{
    animation: fadeIn .25s ease;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.toggle-btn{
    width: 20px;
    height: 20px;
    color: var(--mainColor);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondColor);
}

.sidebar-nav{
    flex: 11 auto;
    z-index: 10;
    list-style-type: none;
    width: 100%;
    padding: 0rem;
    margin-top: 2rem;
}
.sidebar-item{
    width: 100%;
    padding: 1rem;
    border-left: 3px solid transparent;
}

.sidebarlink{
    padding: .625px;
    color: var(--mainColor);
    display: block;
    white-space: nowrap;
    font-weight: 700;
}
.sidebar-link i{
    font-size: 1.1rem;
    color: var(--mainColor);
    margin-right: .75rem;
}
.sidebar-item:hover,
#activate{
    background-color: white;
    border-left: 3px solid var(--mainColor);
}
.sidebar-item .sidebar-link {
    text-decoration: none; /* Ensure no underline on hover as well */
}
.sidebar-link span{
    color: var(--mainColor);
    text-decoration: none;
}
.sidebar-footer .sidebar-item:hover{
    background-color: transparent;
    border-left: 3px solid var(--mainColor);
}


/*----------------------------------------------------*/