:root{
    --mainColor:#FA4516;
    --secondColor:#F8E3A2;
}

.navbar{
    background-color: white;
    box-shadow:0 0 2rem 0 rgba(33, 37,41 , .1) ;
    padding: 0.3rem 1.5rem;
}
.navbar-expand .navbar-collapse{
    min-width: 200px;
}
.avatar{
    height: 40px;
    width: 40px;
}
#btn1,
#btn2 {
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 0.25rem; 
    font-size: 1rem; 
    text-decoration: none;
    margin-left: .2rem;
}
#btn1:hover{
    background-color: #F8E3A2;
    color: #FA4516;
}
#btn1{
    background-color: var(--mainColor);
    color: white;
}
#btn2{
    background-color: var(--secondColor);
    color: var(--mainColor);
}
#btn2:hover{
    background-color: var(--mainColor);
    color: white; 
}
img#plat{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
h6#price{
    color: red;
}

.d-flex.align-items-center img {
    width: 60px;  
    height: 60px;
    object-fit: cover; 
}
.d-flex.align-items-center i{
    color:black;
}
.d-flex.align-items-center i:hover{
    cursor: pointer;
    color: var(--mainColor);
}
.d-flex {
    display: flex;
    gap: 0.5rem;
}
@media (max-width: 768px) {
    .d-flex.align-items-center.gap-3 {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .d-flex.align-items-center.gap-3 img {
        width: 50px;
        height: 50px;
    }

    .card .d-flex.align-items-center.justify-content-between {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }

    

    .dropdown-toggle {
        width: 100%;
    }

    #btn1,
    #btn2 {
        width: 100%;
        margin-left: 0;
    }
}
