:root{
    --mainColor:#FA4516;
    --secondColor:#F8E3A2;
}

.navbar{
    background-color: white;
    box-shadow:0 0 2rem 0 rgba(33, 37,41 , .1) ;
    height: 5%;
}
.navbar-expand .navbar-collapse{
    min-width: 200px;
}
.avatar{
    height: 40px;
    width: 40px;
}
#btn {
    padding: 0.5rem 1rem; 
    background-color: var(--mainColor);
    color: white;
    border: none; 
    border-radius: 0.25rem; 
    font-size: 1rem; 
    text-decoration: none;
}
#btn:hover {
    background-color: #F8E3A2;
    color: #FA4516;
}


td{
    border: 0;
}
td a{
    text-decoration: none;
}
div#restlist{
    overflow-x:auto;
    margin: 0rem;
    
}

#example th, #example td {
    text-align: left;
}
@media (max-width: 768px) {    
.d-flex.flex-column.flex-md-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}
}