{% extends 'manager/base.html' %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
<link rel="stylesheet" href="{% static 'styles/pdg/ingredients.css'%}">
{% endblock %}


{% block orders_active %}activate{% endblock %}

{% block content %}
<div class="main bg-white" >
  <nav class="navbar navbar-expand bg-basic d-flex justify-content-between">
      <h6 class="fw-bold">
          Orders management
      </h6>
      <h6>{{ request.session.display_username }}</h6>
  </nav>

  <main class="content px-3 py-1">
    <div class="container mt-2 mb-4">
      <div class="d-flex justify-content-end align-items-center mb-3">
        <input type="date" id="menuDatePicker" class="form-control" 
        style="width: 250px; margin-right: 10px;" 
        value="{{ selected_date|date:'Y-m-d' }}">
 
      </div>

      <!-- Add table-responsive wrapper to make the table responsive -->
      <div class="table-responsive " id="restlist">
        <table id="example" class="table table-striped border " style="width:100%">
          <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.ingredient.name }}</td>
                <td>{{ item.required_quantity|floatformat:2 }}</td>
                <td>{{ item.get_unit_display }}</td>
                <td>{{ item.ingredient.price_per_unit }} DH</td>
                <td>{{ item.total_price|floatformat:2 }} DH</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="table-active">
                <td colspan="4" class="text-end"><strong>Total Cost:</strong></td>
                <td><strong>{{ total_cost|floatformat:2 }} $</strong></td>
            </tr>
        </tfoot>
        </table>
      </div>
  </main>
</div>
 
<script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script defer src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script defer src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    new DataTable('#example');
    
    const datePicker = document.getElementById('menuDatePicker');
    datePicker.addEventListener('change', function() {
        const selectedDate = datePicker.value;
        if (selectedDate) {
            window.location.href = `/menu/manager/orders/?date=${selectedDate}`;
        }
    });
});

</script>
{% endblock %}


