<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link
  href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css"
  rel="stylesheet"
/>

    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pdg/base.css' %}">
    {% block extra_css %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  
    <div class=" wrapper d-flex flex-column flex-md-row">
        <aside id="sidebar">
            <div class="d-flex justify-content-between p-1">
                <div class="sidebar-logo">
                    <img src="{% static 'images/GASTRO_LINK-.png' %}" class="logo" alt="">
                </div>
                <button class="toggle-btn border-0" type="button">
                    <i id="icon" class='bx bxs-chevrons-right'></i>
                </button>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item" id="{% block DeliveryOrders_active %}{% endblock %}">
                    <a href="{% url 'DeliveryOrders' %}" class="sidebar-link">
                        <i class="bi bi-list"></i>
                    <span>Delivery orders</span>
                    </a>
                </li>

                <li class="sidebar-item" id="{% block notificationsDel_active %}{% endblock %}">
                    <a href="{% url 'NotificationsDel' %}" class="sidebar-link">
                        <i class="bi bi-bell-fill"></i>
                    <span>Notifications</span>
                </a></li>
                <!--<li class="sidebar-item" id="{% block menu_active %}{% endblock %}">
                    <a href="{% url 'NotificationsDel' %}" class="sidebar-link">
                        <i class="bi bi-geo-alt"></i>
                        <i class="mdi mdi-map-marker mdi-24px" aria-hidden="true"></i>  
                    <span>Orders list</span>
                </a></li> -->
                
            
            </ul>
            <div class="sidebar-footer">
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                          <i class='bx bx-log-out-circle'></i>
                          <span>Log out</span>
                        </a>
                    </li>
                </ul>
                
            </div>

        </aside>
     
        {% block content %}
        
        {% endblock %}

    </div>
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/pdg/base.js' %}"></script>
</body>
</html>