{% extends 'pdg/baseform.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'styles/pdg/addMang.css' %}">{% endblock %}

{% block titlee %}
<h4 class="form-title">{% if form.instance.pk %}Edit{% else %}Add New{% endif %} Plate</h4>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-7">
      {{ form.as_p }}
      <h6>Ingredients</h6>
      {{ formset.management_form }}
      <div id="formset-area">
        {% for form in formset %}
          <div class="d-flex gap-2 ingredient-form mb-2">
            {{ form.ingredient }}
            {{ form.quantity }}
            {{ form.DELETE }}
          </div>
        {% endfor %}
      </div>
      <button type="button" class="btn btn-sm btn-secondary" id="add-more">+ Add more</button>
    </div>

    <div class="col-md-5 text-center">
      <label class="upload-area">
        <img id="previewImage" class="w-100 rounded-circle" alt="Preview">
        <div><i class="fa-solid fa-cloud-arrow-up"></i><p>Upload Image</p></div>
      </label>
      {{ form.image }}
      <div class="mt-3">
        <a href="{% url 'menu' %}" class="btn btn-outline btn1_color">Cancel</a>
        <button type="submit" class="btn btn2_color">Add</button>
      </div>
    </div>
  </div>
</form>
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}