{% extends 'pdg/base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'styles/pdg/employee.css' %}">{% endblock %}
{% block menu_active %}activate{% endblock %}

{% block content %}
<div class="main bg-white">
  <nav class="navbar navbar-expand bg-basic d-flex justify-content-between">
    <h6 class="fw-bold">Ingredients Management</h6>
    <p>{{ request.session.display_username }}</p>
  </nav>

  <main class="content px-3 py-1">
    <div class="container mt-2 mb-4">
      <div class="d-flex justify-content-between mb-3">
        <h6>All Ingredients</h6>
        <a href="{% url 'add_ingredient' %}" class="btn btn-primary">Add +</a>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Unit</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for ing in ingredients %}
          <tr>
            <td>{{ ing.name }}</td>
            <td>{{ ing.unit }}</td>
            <td>
              <a href="{% url 'edit_ingredient' ing.id %}" class="text-success"><i class="fa fa-pen"></i></a>
              <a href="{% url 'delete_ingredient' ing.id %}" class="text-danger ms-2"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</div>
{% endblock %}